*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

.navbar{
    width: 100%;
    height: 154px;
    background-color: black;
    display: flex;

    .nav-logo{
        width: 200px;
        height: 45px;
        margin: auto 0 auto 76px;      
        
        
        img{
            width: 100%;
            height: 100%;
            background-position: cover;       
        }        
    }

    .nav-a{
        height: 45px;
        // background-color: yellow;
        margin: auto 0 auto 198px;
        flex-wrap: nowrap;

        a{
            width: 152px;
            color: white;
            padding-right: 60px;
            padding-bottom:10px ;
            border-bottom: 1px solid white;
            // border-width: 152px;
            font-size: 22px;
            
        }
    }

    .nav-contact{
        width: 391px;
        height: 96px;
        // background-color: blue;
        justify-content: end;
        margin: auto 0;

        #facebook{
            width: 25px;
            height: 55px;
            
        }
    }
}